.ccc-black-space{
  width: 100vw;
  position: absolute;
  height: 100vh;
  background-color: rgba(0,0,0,0.98);
  left: 100vh;
  z-index: 333;
}
.ccc-level{
  background-position: bottom center;
  background-repeat: no-repeat;
}
body{
  overflow: hidden;
  margin: 0;
}
.ccc-character{
  position: absolute;
  top: 70vh;
  height: 30vh;
  width: 18vh;
  z-index: 90;
  left: 14vh;
}
.ccc-character img{
  width: 100%;
}
.ccc-world-container{
  position:relative;
}
.ccc-world{
  min-width: calc(100vh * 5);
  position: relative;
  transition: all .5s;
  left: 0;
  top: 0;
  background-size: cover;
}
.ccc-world-row{
  display: flex;
}
.ccc-world-cell{
  height: 100vh;
  width: 100vh;
 
}
.ded-modal{
  width: 100vw;
  height: 100vh;
  text-align: center;
}
p{
  padding-top: 50px;
  text-align: center;
  font-size: 100px;
  margin: 0;
}


.ded-modal{
  background-image: url(../images/heaven.png);
  background-size: cover;
  top: -600px
}

.win-modal{
  background-color: whitesmoke;
}

