.background {
    text-align: center;
    background-color: #d8c99b;
    height: 100px;
}
h2{

    font-family: 'Press Start 2P', cursive;
    color: #bd632f;
    font-size: 100px;


}

.title {

    color:#273e47;
    text-align: center;
    font-size: 100px;
    margin-top: 100px;
    font-family: 'Press Start 2P', cursive;
    
}
.bt{
transition: 0.7s;
text-decoration: none;


}

.pixel-btn{
    background-image:url(./images/bg-btn.png) ;
    width: 300px;
    height: 100px;
    font-size: 40px;
    background-size: 100% 100%;
    text-align: center;
    color: white;
    background-repeat: no-repeat;
    padding: 20px 0;
    font-family: 'Press Start 2P', cursive;
    margin: auto;
    transition: 0.7s;
    margin-top: 100px;
    text-decoration: none;
}
.pixel-btn:hover{

    width: 500px;
    height:150px ;
    padding: 40px 0;
cursor:pointer; 


}
.pixel-btn:active {

    width: 650px ;
    height: 200;
}

.bt:hover{

font-size: 100px;
border-radius: 20px;
cursor: url(./images/custom-cursor.png);
}
.btn {


    margin-top: 100px;
}
.sub{

margin-top:80px;

}

.and {
margin-top: 70px;
margin-bottom: 70px;
padding-top: 50px;

}
.about {


background-color: green;
color: white;
height: 50px;
    width: 150px;
border: none;
margin-top: 200px;
margin-left: auto;
margin-right: auto;
text-align: center;
padding: 50px 0 ;
margin-bottom: 100px;
}
.aboutus{

margin-top: -25px;

}