<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/level.css">
</head>
<body>
  <div class="app">
    <div v-if="gameStatus != 'game'" class="ded-modal">
      <div v-if="gameStatus === 'ded'">
        <h2>You die</h2>

        <p>Text when the dude die</p>
        <a :href="redirectUrl">Re-Try</a>  
      </div>
      <div v-else>
        <h2>You Won</h2>
        <p>Text when you won</p>
        <a :href="'level-'+level+1+'.html'">Next level</a>
      </div>
    </div>
    <div class="ccc-level" v-else>
      <div class="ccc-character">
        <img :src="'character/'+character.image" alt="">
      </div>
      <div class="ccc-world-container">
        <div class="ccc-black-space"></div>
        <div class="ccc-world" :style="{
          top: (this.character.y * -100) + 'vh',
          left: (this.character.x * -100) + 'vh',
          'background-image': 'url(maps/squared-'+level+'.png)'
        }">
          <div v-for="row of [0,1,2,3,4]" :key="row" class="ccc-world-row">
            <div class="ccc-world-cell" v-for="cell of [0,1,2,3,4]" :key="cell" ></div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <script src="https://unpkg.com/vue@3"></script>
  <script src="js/level.js"></script>
</body>
</html>